  <div class="navigation">
        <div class="logo">
            <img src="images/logo.svg" alt="logo atomico - representing an atom in nature">
            <h1>Atomico</h1>
        </div>
        <ul class="navigation-items">
            <li><a href="designers.html">Designers</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Business</a></li>
        </ul>
    </div>